body {
  background: #1a1a2e;
  color: white;
}

.card__active {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #16213e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 30px;
  transition: 0.3s;
  padding: 10px;
}

.card__active:hover {
  transform: translateY(-10px);
  background: #3a55a1;
}

.card__active img {
  height: 100px;
  width: auto;
}

.movie__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.movie__cards div:hover {
  transform: translateY(-10px);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
